.my-bg{
    background: linear-gradient(135deg, rgba(245,245,245,0.75) 0%, rgba(245,245,245,0.75) 100%) , url('../../assets/img/bg.jpg');
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}