.my-bg{
    background: linear-gradient(135deg, rgba(245,245,245,0.75) 0%, rgba(245,245,245,0.75) 100%) , url('../../assets/img/bg.jpg');
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}
@font-face {
    font-family: font;
    src: url('../font/IRANSans.ttf');
}
*{
    font-family: font !important;
}
.active{
    background-color: #ffcbd8 !important;
}
.active i{
    color: #c50b51;
}
.hfill{
    height: 100vh;
}